services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    env_file:
      - .env

  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    # Запуск миграций и сервера.
    # Здесь мы также запускаем скрипт инициализации данных для удобства проверки.
    # Добавлено makemigrations для автоматического создания файлов миграций.
    command: sh -c "python manage.py makemigrations users && python manage.py migrate && python manage.py collectstatic --noinput && python manage.py init_data && gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./app:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  postgres_data:
